.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-right-10px {
  margin-right: 10px;
}
.padding-0 {
  padding: 0;
}
.progress-bar-outer {
  position: relative;
}
.progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
